@import "minireset.css";/*reset*/
@import "font-awesome.min.css";/*ikonok*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Forum|Roboto:300,400&display=swap&subset=latin-ext');
/* fontok
font-family: 'Alfa Slab One', cursive;
font-family: 'Forum', cursive;
font-family: 'Roboto', sans-serif;
 */
h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size:24px;
    background:#ededed;
    line-height: 2em;
}
.kiemelt {
    font-family: 'Forum', cursive;
    line-height:1.5em;
}
.kiemelt:first-letter {/*iníciálé*/
    font-family: 'Alfa Slab One', cursive;
    font-size:24px;
}
article {
    font-family: 'Roboto', sans-serif;
    line-height:1.3em;
}
footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:0.7em;
    text-align: center;
}
/**Szerző info doboz**/
.info-box {
    background:yellow;
    padding:15px;
    font-size:0.8em;
}
.info-box li span {
    font-weight:bold;
}
/**Szerző info doboz vége**/