/*külső fileban megadott stíluslap*/
body {
    background-color:lightgoldenrodyellow;
    color:deepskyblue;
}
h1 {
    background-color: #fff;/* bc és TAB*/
    margin: 15px; /* m15px és TAB*/
    border-left-color: #000;/*blc és TAB*/
}