/*saját stílus megadások*/
:root {/*css variable - css változó - dinamikus tulajdonságok kialakítására*/
    --a: 51px;
}
body.frontpage {
    background: #eeeeee;
    padding-top:var(--a);/*változó használata, itt most 51px-t jelent*/
}
header {
    background: lime;
}
article {
    background: pink;
    min-height:800px;
}
footer {
    background: yellow;
    min-height:300px;
}