@import 'minireset.css';/*minireset betöltése*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700&display=swap&subset=latin-ext');/*font betöltése*/

body {
    font-family: "Oswald", sans-serif; /*betűtípus -> fallback a következőre ha nincs meg*/
}

header {
    /*background: pink;*/
    height: 70px;
    overflow: hidden;/*túllógó elemek viselkedése*/
    border-bottom: 1px solid rgba(0,0,0,0.25); /*méret tipus szín*/
    box-shadow:0 0 25px rgba(0,0,0,.4); /*x-offset , y-offset, shadow-size, color*/
    /*pozícionálás*/
    position:fixed;
    width:100%;
    top:0;
    background-color:rgba(255,255,255,.5);/*áttetsző fehér*/
}

#slider {
    height: 500px;
    padding-top:100px;
    /*background-image:url(https://lorempixel.com/1366/500/technics);
    background-position: center top;
    background-repeat: no-repeat;*/
    background-size: 100%;
    background:url(https://lorempixel.com/1366/500/technics) center top no-repeat;

    text-align: center;
    color:#fff;
}
#slider h1 {
    font-size:46pt;
    font-weight: bold;
    letter-spacing: 1px;
    margin:30px auto;
}
#slider h2 {
    font-size:16pt;
    letter-spacing:1em;
}
#slider p {
    font-weight: 200;
    line-height:1.5em;
}
.button {
    display:inline-block;
    margin:25px auto;
    text-decoration: none;
    background: #75dab0;
    color: #fff;
    z-index:2;
    padding: 14px 35px;
    position: relative;
    cursor: pointer;
}
.button.dark:before {
     border-color: #444;
 }
.button:before{
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3;
}

.button:hover:before {
    top:0;
    left:0;
    border-color:transparent;
}
section {
    /*background: lime;*/
}

/*1200as távtartó*/
.wrapper {
    /*background: khaki;*/

    margin-left: auto;
    margin-right: auto;
}
nav ul {
    float:right;
}

/*nav li {
    background:#fff;
    float:left;
    margin:0 0 0 5px;!*margin: fel jobbra le balra*!
}*/
nav li {
    /*background:#fff;*/
    display:inline-block;/*inline és block tulajdonságokat is felveszi*/
    height:70px;
    padding:0 10px;
    line-height: 4em;/*vertikális pozícionálás pl. > inline elemekre sortáv*/
    text-transform: capitalize;
}
nav a {
    font-weight: 400;
    text-decoration: none;
    color:#222;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;/*ott van csak nem látszik, a későbbi animáció segítésére*/
    transition:border .5s  ease-in-out;/*visszafelé animáció ha vége a hover eseménynek*/
}
nav a.active,
nav a:hover {/*menüpont effektek*/
    border-bottom: solid 2px #75dab0;
    transition:border .5s  ease-in-out;/*effekt*/
}

/*media query - csak akkor kapcsolnak be a stíluson ha a feltételek teljesülnek (min 1200px széles a böngésző ablak jelen esetben*/
@media screen and (min-width:1200px) {
    .wrapper {
        /*background:orange;*/
        width: 1200px;
    }
}

.flex-holder {
    display: flex;
    background:deeppink;
}