body {
    background: #efefef;
    font-family: Verdana;
    color: #333;
}

.main {
    width: 100%;
    max-width: 960px;
}

#blocks {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

#blocks div {
    flex: 0 0 100px;
    padding: 40px 0;
    text-align: center;
    background: #ccc;
}
/*sorrend állítása, lehet negatív értéket is adni, alapértelmezetten 0 mindenki és a html tag vagy a flex értelmezett sorrend határozza meg*/
.one {order: 3}
.two {order: 3}
.three {order: 2}
.four {order: -1}


