body {
    background: #efefef;
}

.main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    height: 800px;
    /*flex-flow: column;*/
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 100px;
    flex: 0 0 200px;
}

.one {
    background: #e74c3c;
}

.two {
    background: #2980b9;
}

.three {
    background: #2ecc71;
}
