body {
    background: #efefef;
}

.main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    height: 600px;
}

.box {
    width: 100px;
    flex: 0 0 60px;
}

.one {
    background: #e74c3c;
}

.two {
    background: #2980b9;
}

.three {
    background: #2ecc71;
}
